body {
    max-width: 1600px;
    font-family: 'Roboto';
    font-style: normal;
    margin: auto;
}


.container {
    margin: auto;
    max-width: 1160px;
}

ul {
    list-style: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
li {
    display: inline;
}


a {
    text-decoration: none;
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #E47209;
    transition: 0.2s;
}
a:active {
    color: #F9804B;
}


/* Header navigation menu bar ----------------------------------------------- */
.menu-bar {
    background: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    z-index: 100;
}
.menu-bar-flexbox {
    display: flex;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 5px;
}
.nav-inline {
    display: inline;
}
.nav-inline li {
    padding-left: 58px;
}
.header-rights {
    margin-left: auto;
    margin-right: 0;
}


/* Header section ----------------------------------------------- */
.header-background {
    background-image: url("../../assets/images/jpeg/Giant-Panda.jpg");
    height: 780px;
}
.header-container {
    margin-top: 86px;
    margin-left: auto;
    margin-right: 220px;
    max-width: 500px;
}
.header-circle {
    border-radius: 50%;
    background-color: #F9804B;
    width: 465px;
    height: 465px;
}

.title-content {
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-selection {
    color: #FFEE2E;
}

.button-watch {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.button-watch-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 16px 0;
    background-color: #F9804B;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 300px
}
.button-watch-text:hover {
    background-color: #E47209;
    transition: 0.2s;
}

/* Backstage section ----------------------------------------------- */
.backstage-section {
    background-image: url("../../assets/images/jpeg/flower_backstage.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
.backstage-content {
    padding-top: 140px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.backstage-content-text {
    padding-left: 87px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #333B41;
}
.backstage-title {
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 20px;
}
.backstage-description {
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 54px;
}
.backstage-sub-title {
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 34px;
}
.backstage-sub-description {
    font-size: 16px;
    line-height: 140%;
}

/* Cards section ----------------------------------------------- */
.cards-section {
    margin-top: 80px;
}
.cards-background {
    background-image: url("../../assets/images/jpeg/palm.jpg"), url("../../assets/images/jpeg/plant.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    padding-bottom: 100px;
}
.cards-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1322px;
    margin-left: auto;
    margin-right: auto;
}
.grid-cards {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 30px;
    grid-row-gap: 20px; 
}
.card {
    border: 1px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.card-container {
    padding: 8px 14px 14px 16px;
}
.card-container > h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}
.card-container > p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}
.card-container:hover {
    transition: .5;
    box-shadow: #E47209;
}
.arrow-block {
    background-color: #F9804B;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.arrow-block:hover {
    transition: .5;
    box-shadow: #E47209;
}
.arrow-sign {
    width: 40%;
}
.button-cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.button-cards-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 16px 0;
    background-color: #F9804B;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 300px
}