body {
    max-width: 1600px;
    font-family: 'Roboto';
    font-style: normal;
    margin: auto;
}


.container {
    margin: auto;
    max-width: 1160px;
}

ul {
    list-style: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
li {
    display: inline;
}


a {
    text-decoration: none;
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #E47209;
    transition: 0.2s;
}
a:active {
    color: #F9804B;
}


/* Header navigation menu bar ----------------------------------------------- */
.menu-bar {
    background: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    z-index: 100;
}
.menu-bar-flexbox {
    display: flex;
    align-items: center;
}
.header-logo {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 5px;
}

#about {
    color: #F9804B;
}

.nav-inline {
    display: inline;
}
.nav-inline li {
    padding-left: 58px;
}
.header-rights {
    margin-left: auto;
    margin-right: 0;
}


/* Header section ----------------------------------------------- */
.header-background {
    background-image: url("../../assets/images/jpeg/Giant-Panda.jpg");
    height: 780px;
}
.header-container {
    margin-top: 86px;
    margin-left: auto;
    margin-right: 220px;
    max-width: 500px;
}
.header-circle {
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 465px;
    height: 465px;
}

.title-content {
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-selection {
    color: #FFEE2E;
}

.button-watch {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.button-watch-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 300px
}
.button-watch-text:hover {
    background: #E47209;
    cursor: pointer;
}

/* Backstage section ----------------------------------------------- */
.backstage-section {
    background-image: url("../../assets/images/jpeg/flower_backstage.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
.backstage-content {
    padding-top: 140px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.backstage-content-text {
    padding-left: 87px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #333B41;
}
.backstage-title {
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 20px;
}
.backstage-description {
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 54px;
}
.backstage-sub-title {
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 34px;
}
.backstage-sub-description {
    font-size: 16px;
    line-height: 140%;
}

/* Cards section ----------------------------------------------- */
.cards-section {
    margin-top: 80px;
}
.cards-background {
    background-image: url("../../assets/images/jpeg/palm.jpg"), url("../../assets/images/jpeg/plant.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    padding-bottom: 100px;
}
.cards-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1322px;
    margin-left: auto;
    margin-right: auto;
}
.grid-cards {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 30px;
    grid-row-gap: 20px; 
}
.card {
    border: 1px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.card-container {
    padding: 8px 14px 14px 16px;
}
.card-container > h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}
.card-container > p {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}
.card-container:hover {
    transition: .5;
    box-shadow: #E47209;
}
.arrow-block {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.arrow-block:hover {
    transition: .5;
    background: #E47209;
}
.arrow-sign {
    width: 40%;
}
.button-cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.button-cards-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 300px
}
.button-cards-text:hover {
    background: #E47209;
    cursor: pointer;
}
/* Feed section ----------------------------------------------- */
.feed-section {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 70px;
    padding-bottom: 100px;
}
.feed-content {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 40px;
}
.feed-title-first {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}
.feed-description {
    padding-left: 100px;
}
.feed-first {
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
.feed-second {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}
.feed-third {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    max-width: 863px;
}   

.feed-title-second {
    margin-top: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.feed-cards-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 30px;
    grid-row-gap: 30px; 
    max-width: 765px;
    max-height: 244px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; } 
.div2 { grid-area: 1 / 2 / 2 / 3; } 
.div3 { grid-area: 1 / 3 / 2 / 4; } 
.div4 { grid-area: 1 / 4 / 2 / 5; } 
.div5 { grid-area: 1 / 5 / 2 / 6; } 
.div6 { grid-area: 2 / 1 / 3 / 2; max-height: 46px;} 
.div7 { grid-area: 2 / 3 / 3 / 4; max-height: 46px;} 
.div8 { grid-area: 2 / 5 / 3 / 6; max-height: 46px;} 

.feed-card-img {
    box-sizing: border-box; 
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #F9804B 1px;
}
.vector {
    align-self: center;
}

.feed-button {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.feed-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    width: 300px
}
.feed-button-text:hover {
    background: #E47209;
    cursor: pointer;
}
/* Testimonials section ----------------------------------------------- */
.testimonials-background {
    background-image: url("../../assets/images/jpeg/Testimonials-background.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.testimonials-title {
    margin-top: 140px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}
.testimonials-cards {
    margin-top: 47px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 30px;
}
.testimonial-card {
    background: #F1F3F2;
    border-radius: 20px;
    border: none;
    background: linear-gradient(
        300deg,
        rgba(254, 189, 171, 0.74),
        rgba(243, 169, 248, 0.66),
        rgba(224, 216, 240, 1)
        );
    padding: 2px;
    overflow: hidden;
}
.testimonial-card-background {
    border-radius: 20px;
    background: #F1F3F2;
    padding: 16px 16px 19px 16px;
}

.testimonial-card-header {
    display: flex;
    align-content: center;
    padding-bottom: 10px;
}
.testimonial-card-head {
    padding-left: 10px;
}
.testimonial-card-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}
.testimonial-card-note {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonial-card-desc {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.testimonial-scroll {
    overflow: auto;
    white-space: nowrap;
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}
.range {
    width: 600px;
    height: 8px;
    appearance: none;
    border-radius: 5px;
    background:  #F5F7F6;
    border: 0.5px solid #FEBDAB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: 8px;
    background: #FE9013;
    border-radius: 5px;
}
.testimonials-button {
    padding-top: 30px;
    display: flex;
    text-align: center;
}
.testimonials-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 16px 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 300px
}
.testimonials-button-text:hover {
    background: #E47209;
    cursor: pointer;
}

/* Footer section ----------------------------------------------- */
.footer-background {
    background: #111115;
}
footer {
    background: #111115;
    padding: 40px 0 50px;
    margin-top: 180px;
}
  
footer .footer_top {
display: flex;
justify-content: space-between;
}

.footer_top form label {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.footer_top form #email {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    background: #111115;
    color: #BDBDBD;
    padding: 10px;
    margin-top: 14px;
    border: 1px solid #F9804B;
}

.footer_top input[type="submit"] {
    color: #4B9200;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 39px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
}

.footer_top input[type="submit"]:hover {
    cursor: pointer;
    background-color: #F1F3F2;
    border-color: #4B9200;
}

footer h2 {
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: center;
    border: 1.19px solid rgba(255, 255, 255, 0.25);
    width: 82px;
    height: 52px;
    position: relative;
    padding: 3.5px 4.75px;
}

footer h2 a {
    text-decoration: none;
    color: #FFF;
}

.footer-logo {
    position: absolute;
    top: 23.9px;
    left: 9px;
}

footer .footer_donate {
    margin: 68px 0 44px;
    padding: 16px 0;
    width: 298px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    border: transparent;
}
footer .footer_donate:hover {
    background: #E47209;
    cursor: pointer;
}

footer .footer_donate:active {
    background: #4B9200;
}

footer .socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .socials a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #FFF;
}

footer .socials a h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

footer .socials_logo {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

footer .socials a:hover {
    color: #4B9200;
}

footer .socials a:hover .socials_logo {
    background-color: #4B9200;
}

footer .footer_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .footer_bottom nav ul {
    display: flex;
    gap: 58px;
}

footer .footer_bottom nav ul li a{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-decoration: none;
    color: #FFF;
}

footer .footer_bottom .copyright h4 {
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    color: #FFF;
}

footer nav ul {
    list-style: none;
}

footer nav ul li a:hover {
    color: #F9804B;
}

footer nav ul li:first-child a {
    color: #F9804B;
}